<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Authentication</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 80px;
        background: url("images/bg.jpg") no-repeat center center/cover;
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock">Login to view Nasa Images:)</span></h1>
        <p>Login using Google</p>

        <a href="/google" class="btn btn-danger"
          ><span class="fa fa-google"></span
        ></a>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  </body>
</html>
